{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {# Place icon files in the root if possible (let browsers look for them where they expect them to be) #}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'apple-touch-icon-144x144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon-precomposed.png' %}">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon-precomposed.png' %}">

    {# Tile icon for Win8 (144x144 + tile color) #}
    <meta name="msapplication-TileImage" content="{% static 'metro-icon-144x144-precomposed.png' %}"><!-- white shape -->
    <meta name="msapplication-TileColor" content="#3673a5"><!-- python blue -->
    <meta name="msapplication-navbutton-color" content="#3673a5">

    {# Theme color on android #}
    <meta name="theme-color" content="#3673a5">

    <title>{% block head_title %}{{ SITE_INFO.site_name }}{% endblock head_title %}</title>
    <meta property="og:title" content="{% block og_title %}{{ SITE_INFO.site_name }}{% endblock %}">

    {# SEO and OpenGraph data - Needs to be fed dynamically according to the content of the page #}
    <meta name="description" content="{% block page_description %}{{ SITE_INFO.site_description }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ SITE_INFO.site_description }}{% endblock %}">
    <meta name="keywords" content="{% block page-keywords %}{% endblock %}">
    <meta property="og:tag" content="{% block og_keywords %}{% endblock %}">
    <meta property="og:published_time" content="{% block og_publishedtime %}{% endblock %}">
    <meta property="og:modified_time" content="{% block og_modifiedtime %}{% endblock %}">
    <meta property="og:author" content="{% block og_author %}{% endblock %}">
    <meta property="og:section" content="{% block og_section %}{% endblock %}"> {# A high-level section name. E.g. Technology #}
    <meta property="og:url" content="{% block og_url %}{{ get_absolute_url }}{% endblock %}">{# permalink to the curent page #}
    <meta property="og:image" content="{% block og_image %}{% endblock %}">{# A path to an image used on the page. Helpful for telling crawlers what image to use for a page preview. Can be an array, meaning, there can be more than one of these tags (duplicate the WHOLE tag). #}
    <meta property="og:video" content="{% block og_video %}{% endblock %}">

    {# concatenate and minify for production #}
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {# personal stylesheet #}
    {% block style_extra %} {% endblock style_extra %}

    {# google fonts link #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {# google font awsome icon link #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>

    {% block endhead %}
    {% endblock %}

</head>

<body>
    <!-- Navbar -->
    <div class="nav-top">
		<div class="nav-logo">
			<ul>
				<li><a href="/"><img src="{% static 'img/ace-of-spades.svg' %}" alt="ace-of-spades" class="logo logohover"></a></li>
				<li><a href="/">AptitudeAce</a></li>
			</ul>
		</div>
	</div>
    <!-- Navbar ends -->

    <!-- Page Header -->
    {% block header %}
    {% endblock %}

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/register.js' %}"></script>
    {% block script_extra %}{% endblock %}

    {# -- Google Analytics -- #}
    {% if SITE_INFO.google_analytics_id %}
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','{{ SITE_INFO.google_analytics_id }}','auto');ga('send','pageview');
    </script>
    {% endif %}
</body>
</html>
