/*****************
MEDIA QUERIES
*****************/

@media only screen and (max-width: 850px) {
	.nav-list1, .image-box {
		display: none;
	}
	.hamburger {
		display: block;
	}

	.background {
		min-height: 900px;
	}
	.text-box1 {
		width: 100%;
		top: 130px;
	}
	.text-box2, .form-box {
		top: 400px;
	}
	.text-box2{
		padding-right: 4%;
	}
	.form-box {
		padding-left: 80px;
	}
}

@media only screen and (max-width: 760px) {
	.background {
		height: 1010px;
	}
	.header-text, .text-box1, .text-box2, .form-box, .bottom, .first-box, .second-box {
		position: relative;
	}
	.header-text {
		width: 70%;
		top: 3%;
		font-size: .8em;
	}
	.text-box1 {
		font-size: 2.4em;
		top: 100px;
	}
	.text-box2 {
		font-size: 1.5em;
		font-family: 'Raleway', sans-serif;
		top: 200px;
		width: 100%;
	}
	.text-box2 p {
		padding-left: 0px;
		font-family: "Montserrat", sans-serif;
	}
	.form-box {
		width: 100%;
		padding-left: 0px;
		top: 270px;
		text-align: center;
		z-index: 10;
	}
	.First, .Last, .Email, .Password, .Submit {
		width: 90%;
	}
	.first-box, .second-box {
		width: 88.5%;
		height: 150px;
		left: 0px;
		margin-left: 6.5%;
	}
	.first-box {
		margin-bottom: 80px;
	}
	.upper1, .upper2 {
		width: 50px;
		height: 50px;

	}
	.quote-top {
		margin-top: 50px;
	}
	.reviews {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 585px) {
	.background {
		height: 1070px;
	}
}

@media only screen and (max-width: 520px) {
	.background {
		height: 950px;
	}
	.nav-top {
		height: 60px;
		padding-top: 20px;
	}
	.nav-logo {
		font-size: 1.5em;
		padding-left: 2%;
		word-spacing: 0px;
		margin-left: 10px;
	}
	.nav-logo > ul > li:nth-child(2) {
		vertical-align: 8.5px;
	}
	.logo {
		width: 32px;
		height: 32px;
	}
	.nav-list2 {
		font-size: 1.1em;
		padding-top: 2px;
		padding-right: 0px;
	}
	.nav-list2 ul li {
		padding-right: 15px;
	}
	.header-text {
		width: 90%;
	}
	.text-box1 {
		font-size: 2em;
		margin-top: -30px;
	}
	.text-box2 {
		font-size: 1.4em;
		width: 100%;
		margin-top: -30px;
	}
}
@media only screen and (max-width: 400px) {
	.nav-logo {
		font-size: 1.3em;
	}
	.nav-list2 a {
		font-size: .9em;
	}
	.nav-list2 > ul > li:nth-child(1) {
		padding-right: 5px;
	}
}
@media only screen and (max-width: 450px) {
	.background {
		height: 1000px;
	}
}

@media only screen and (max-width: 352px) {
	.background {
		height: 1050px;
	}
}

@media only screen and (max-width: 325px) {
	.background {
		height: 1090px;
	}
}